::selection {
    background: #FA816E;
    color: black;
    
    /* color: black; */
}

body {
    background: white;
}

/* .noise {
    background-image: url('../bg2.svg');
    background-position: 0% 0;
    background-size: 1440px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

.noise {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: contrast(220%) brightness(550%);
    background: 
	    linear-gradient(119deg, rgba(243,61,74,1), rgba(228,8,8,0.62)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.1' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.noise-child {
    filter: 'none' !important;
}