/* ::selection {
    background: #FA816E;
    color: black;
    
    /* color: black; */

body {
    background: white !important;
}

.noise {
    background-image: url('../bg2.svg');
    background-position: 0% 0;
    background-repeat: no-repeat;
    background-size: 1440px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.noise2 {
    background-image: url('../bg3.svg');
    background-position: 0% 0;
    background-repeat: no-repeat;
    background-size: 1440px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.exploreBg {
    background-image: url('../explore_bg.svg');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 1440px;
    z-index: -1;
    position: absolute;
    max-height: 600px;
    margin-top: -80px;
    background-color: #fff;
}

/* .noise {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: contrast(220%) brightness(550%);
    background-image: 
        url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.1' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
        -webkit-gradient(119deg, rgba(243,61,74,1), rgba(228,8,8,0.62));
    background-image: 
        url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.1' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
        -webkit-linear-gradient(119deg, rgba(243,61,74,1), rgba(228,8,8,0.62));
    background-image: 
        url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.1' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
        -webkit-gradient(119deg, rgba(243,61,74,1), rgba(228,8,8,0.62));
        background: -ms-linear-gradient(119deg, rgba(243,61,74,1), rgba(228,8,8,0.62));
    background: 
        -webkit-linear-gradient(119deg, rgba(243,61,74,1), rgba(228,8,8,0.62)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.1' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background: 
        -moz-linear-gradient(119deg, rgba(243,61,74,1), rgba(228,8,8,0.62)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.1' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background: 
        -o-linear-gradient(119deg, rgba(243,61,74,1), rgba(228,8,8,0.62)),   
        url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.1' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background: 
	    linear-gradient(119deg, rgba(243,61,74,1), rgba(228,8,8,0.62)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.1' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
} */

.noise-child {
    filter: 'none' !important;
}